@model UsuarioModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <input type="hidden" asp-for="Id" />
    <h1 class="display-4">Bem vindo(a) </h1>

    <h2> Sistema de Cadastro de Contatos e Usuarios</h2>

</div>
